@{
    var grid = new WebGrid(Model,
                           canPage: true,
                           rowsPerPage: 10,
                           selectionFieldName: "selectedRow",
                           ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.All);
}

<h2>Competitie Deelnemers</h2>
<section id="messages">
    <div class="description">@TempData["message"]</div>
    <div class="error">@TempData["error"]</div>
</section>
<section>
    <div id="gridContent">
        @grid.GetHtml(
            tableStyle: "webGrid",
            headerStyle: "header",
            alternatingRowStyle: "alt",
            selectedRowStyle: "select",
            footerStyle: "footer",
            fillEmptyRows: true,
            columns: grid.Columns(
                        grid.Column("Id", "Id"),
                        grid.Column("Name", "Naam"),
                        grid.Column("FrequentBowlerNumber", "Frequent Bowlernummer"),
                        grid.Column(format: (item) => Html.ActionLink("Verwijderen", "DeletePlayer", new { id = item.id, challengeid = ViewBag.challengeid }, new { onclick = "return confirm('Weet je het zeker?');" }))
                    )
            )
    </div>
    @Html.ActionLink("Voeg een deelnemer toe", "CompetitionPlayersInsert", "Competition", new { id = ViewBag.competitionid, challengeid = ViewBag.challengeid }, null)
    @Html.ActionLink("Ga terug", "Competition", "Competition", new { id = ViewBag.challengeid }, null)
</section>

