@model NBF.Qubica.CMS.Models.BowlinghuisModel
@{
    ViewBag.Title = "Wijzigen Bowlinghuis";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="bowlinghuisForm">
<h2></h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Bowlinghuis Form</legend>
        @Html.HiddenFor(m => m.Id)
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Uri)
                @Html.TextBoxFor(m => m.Uri)
                @Html.ValidationMessageFor(m => m.Uri)
            </li>
            <li>
                @Html.LabelFor(m => m.Port)
                @Html.TextBoxFor(m => m.Port)
                @Html.ValidationMessageFor(m => m.Port)
            </li>
            <li>
                @Html.LabelFor(m => m.ApiVersion)
                @Html.DropDownListFor(m => m.ApiVersion, Model.ApiVersions, String.Empty)
                @Html.ValidationMessageFor(m => m.ApiVersion)
            </li>
            <li>
                @Html.LabelFor(m => m.Appname)
                @Html.TextBoxFor(m => m.Appname)
                @Html.ValidationMessageFor(m => m.Appname)
            </li>
            <li>
                @Html.LabelFor(m => m.Secretkey)
                @Html.TextBoxFor(m => m.Secretkey)
                @Html.ValidationMessageFor(m => m.Secretkey)
            </li>
            <li>
                @Html.LabelFor(m => m.NumberOfLanes)
                @Html.TextBoxFor(m => m.NumberOfLanes)
                @Html.ValidationMessageFor(m => m.NumberOfLanes)
            </li>
            <li>
                @Html.LabelFor(m => m.LastSyncDate)
                @Html.TextBoxFor(m => m.LastSyncDate)
                @Html.ValidationMessageFor(m => m.LastSyncDate)
            </li>
            <hr/>
            <li>
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address)
                @Html.ValidationMessageFor(m => m.Address)
            </li>
            <li>
                @Html.LabelFor(m => m.ZipCode)
                @Html.TextBoxFor(m => m.ZipCode)
                @Html.ValidationMessageFor(m => m.ZipCode)
            </li>
            <li>
                @Html.LabelFor(m => m.City)
                @Html.TextBoxFor(m => m.City)
                @Html.ValidationMessageFor(m => m.City)
            </li>
            <li>
                @Html.LabelFor(m => m.Phonenumber)
                @Html.TextBoxFor(m => m.Phonenumber)
                @Html.ValidationMessageFor(m => m.Phonenumber)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Website)
                @Html.TextBoxFor(m => m.Website)
                @Html.ValidationMessageFor(m => m.Website)
            </li>
            <li>
                @Html.LabelFor(m => m.UrlLogo)
                @Html.TextBoxFor(m => m.UrlLogo)
                @Html.ValidationMessageFor(m => m.UrlLogo)
            </li>
        </ol>
        <input type="submit" value="Sla op" />
        <input type="button" value="Ga terug" onclick="javascript: window.history.go(-1); return false;"/>
    </fieldset>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
